body {
  margin: 30px;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: #738199;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

ul {
  list-style: none;
  margin:0;
  padding: 0;
}
li {
  font-size: 20px;
  line-height: 1.5em;
}
.score {
  width: 40px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #8D94A1;
}
